@font-face {
  font-family: 'table-build-icon';  /* project id 2369312 */
  src: url('./fonts/font_2369312_wsg9aeubvfs.woff2') format('woff2'),
}

.table-build-icon {
  font-family: "table-build-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.table-build-icon-zoom-in:before {
  content: "\e604";
}

.table-build-icon-quanping2:before {
  content: "\e78b";
}

.table-build-icon-zoom-out:before {
  content: "\e9e5";
}

.table-build-icon-xiala:before {
  content: "\e608";
}

.table-build-icon-canvas-cuo:before {
  content: "\e61f";
}

.table-build-icon-iconfontxiaogantanhao:before {
  content: "\e60d";
}

.table-build-icon-kongshuju:before {
  content: "\e600";
}
